
.sidenav{
    box-sizing: border-box;
    padding: 20px;
    padding-top: 25px;
    background-color: white;
    height: 100vh;
    width: 250px;
    transition: width 0.5s ease, transform 0.5s ease,margin-top 0.5s ease;
    position: fixed;
    left: 0;
    margin-top: 60px;
    z-index: 999;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
a{
    color: var(--color);
    text-decoration: none;
}

ul{
 padding: 0;
}
.side-li{
    margin: 10px 0;
    padding: 6px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}
.side-li:hover{
    color:  #3366ff    ;
    transition: all 0.3s ease;
}
.sidenav-header{
    gap: 15px;
    padding: 10px;
    padding-bottom: 25px;
}
.divider{
    margin-bottom: 20px;
    background: #00000034;
}



@media (max-width: 665px){
    .sidenav{
        width: 150px;
        margin-top: 50px;
    }
    .sidenav-header-title{
        display: none;
    }
    .side-a-text{
        display: none;
    }
    .side-li{
        display: block;
        border: none;
        padding: 20px;
    }


}
@media (max-width: 450px){
    .sidenav{
        transform: translateX(-100%);

    }
}