<div class="sidenav">
    <div class="sidenav-header center">
        <div class="sidenav-header-logo">
            <img src="assets/images/man.png" width="45" alt="logo">
        </div>
        <div class="sidenav-header-title">
            {{userName}}
        </div>
    </div>
    <div class="sidenav-content">
        <ul>
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        <div class="side-a-text">
                            tableau de bord
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        <div class="side-a-text">
                            tableau de bord
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        <div class="side-a-text">
                            tableau de bord
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

