<div class="sidenav">
    <div class="sidenav-header">
        <div class="sidenav-header-logo">
            <img src="assets/images/logo.png" alt="logo">
        </div>
        <div class="sidenav-header-title">
            <h2>{{userRole}}</h2>
        </div>
    </div>
    <div class="sidenav-content">
        <ul>
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        tableau de bord
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        tableau de bord
                    </div>
                </a>
            </li>    
            <li>
                <a routerLink="/adminDashboard" routerLinkActive="active">
                    <div class="side-li">
                        <mat-icon> 
                            dashboard
                        </mat-icon>
                        tableau de bord
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

