<div class="sidenav">
    <div class="sidenav-header center">
        <div class="sidenav-header-logo">
            <img src="assets/images/man.png" width="45" alt="logo">
        </div>
        <div class="sidenav-header-title">
            {{userName}}
        </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div class="sidenav-content">
        <ul>
            <li>
                <a routerLink="/adminDashboard">
                    <div class="side-li" routerLinkActive="activeLink">
                        <mat-icon> 
                            view_list
                        </mat-icon>
                        <div class="side-a-text">
                            Tableau de bord
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/addIntervention">
                    <div class="side-li" routerLinkActive="activeLink">
                        <mat-icon> 
                            add
                        </mat-icon>
                        <div class="side-a-text">
                            Creér une intervention
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/modules">
                    <div class="side-li" routerLinkActive="activeLink">
                        <mat-icon> 
                            ballot
                        </mat-icon>
                        <div class="side-a-text">
                            Les modules
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <mat-divider class="divider"></mat-divider> 
    <div class="logout">
        <a (click)="logout()">
            <div class="logout-btn">
                <mat-icon> 
                    logout
                </mat-icon>
                <div class="side-a-text">
                    Se déconnecter
                </div>
            </div>
        </a>
    </div>
</div>

