<mat-card class="matCard">
    <mat-card-header class="matCard-header">
      <mat-card-title>{{title}}</mat-card-title>
      @for (subtitle of subtitles; track $index) {
        <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
      }
    </mat-card-header>
    <img mat-card-image src="assets\images\intervention.png" alt="Intervention" height="200">
    <mat-card-content>
        @for (pElement of pElementsContent; track $index) {
            <p>{{pElement}}</p>
        }
    </mat-card-content>
    <mat-card-actions  align="end">
        @if(wantButtons){
        <div class="card-buttons">
            <button mat-stroked-button color="warn">Supprimer<mat-icon>delete</mat-icon></button>
            <button mat-stroked-button color="primary">Modifier<mat-icon>edit</mat-icon></button>
        </div>
        }
    </mat-card-actions>
</mat-card>