<div class="dashboard-container">
    @for (interv of interventions; track $index){
        
            <app-card [imageSrc]='"assets/images/Modules/" + interv.moduleIntitule + ".jpg"' [title] = "interv.intitule" [subtitles]="['Enseignant: '+ interv.enseignantNom, 'Module: ' + interv.moduleIntitule]" [pElementsContent]="['Volume de cours: '+interv.vhCoursInterv + ' hr', 'Volume de TD: '+interv.vhTDInterv + ' hr','Volume de TP: '+interv.vhTPInterv + ' hr', 'Evaluation: '+interv.evaluationInterv]"></app-card>
    }
</div>