<div class="wrapper flex gap-60">
    <div class="login-left-section">
        <img src="assets/images/enseignant-administrateur.png" alt="login-image">
        <h1 class="roboto-bold">Enseignants and administrators,</h1>
        <p class="roboto-regular">your dashboard awaits! Please log in to access.</p>
    </div>
    <div class="login-container">
        <h2 class="roboto-regular">sign in</h2>
        <form (ngSubmit)="onSubmit($event)">
            <div class="input-control">
                <app-input label="Email" type="email" (ValueChange)="onEmailChange($event)" placeholder="Enter your email address" hint="example@uca.ac.ma"></app-input>
            </div>
            <div class="input-control">
                <app-input label="Password" type="password" (ValueChange)="onPasswordChange($event)" placeholder="Enter your password"  hint=""></app-input>
            </div>
                <p *ngIf="invalidCredentialsFormat else validCredentials" [style.color]="'red'" class="roboto-regular">{{invalidCredentialsFormat}}</p>
                <ng-template #validCredentials>
                    <p class="roboto-regular">Please enter your credentials</p>
                </ng-template>
            <app-button buttonType="submit" label="login" color="primary"></app-button>
        </form>
    </div>
</div>

