
<app-popup-message *ngIf="msg" [message]="msg" [backgroundColor]="status === 'success' ? '#4caf50': 'red'" [iconName]="status === 'success' ? 'check' : 'error'"></app-popup-message>
<div class="createInterv" style="background-color: white; border-radius: 10px;">
  <div class="guidelines">
    <h2 style="margin-bottom: 25px;">Points Clés pour les Bonnes Pratiques ✅ :</h2>
    <ul style="list-style: disc;">
      <li>
        <strong>Sélectionner l'Enseignant et le Module</strong> 
        <p>Choisissez correctement l'enseignant et le module pour éviter les erreurs.</p>
      </li>
      <li>
        <strong>Fournir un Titre Clair</strong> 
        <p>Utilisez un titre concis et descriptif.</p>
      </li>
      <li>
        <strong>Spécifier le Volume Horaire</strong> 
        <p>Entrez les heures exactes pour les cours (Cours), les travaux dirigés (TD) et les travaux pratiques (TP).</p>
      </li>
      <li>
        <strong>Compléter le Champ d'Évaluation</strong> 
        <p>Indiquez le nombre d'évaluations pour l'intervention.</p>
      </li>
      <li>
        <strong>Vérifier l'Exactitude</strong> 
        <p>Relisez toutes les informations avant de soumettre.</p>
      </li>
    </ul>
    <p>Ces directives aident à garantir que chaque intervention est enregistrée avec précision et efficacité.</p>

    <div class="guidelines-img" style="width: 100%;">
      <img src="assets/images/createIntervAdmin.png" alt="Guidelines" width="100%">
    </div>
  </div>
  
  
  <form id="interventionForm" #interventionForm="ngForm" class="form-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Enseignant:</mat-label>
      <mat-select matNativeControl required name="enseignant" [(ngModel)]="selectedEnseignantId">
        <mat-option *ngFor="let enseignant of enseignants" [value]="enseignant.email">{{ enseignant.nom }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Module:</mat-label>
      <mat-select matNativeControl required name="module" [(ngModel)]="selectedModuleId">
        <mat-option *ngFor="let module of modules" [value]="module.intitule">{{ module.intitule }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Intitule:</mat-label>
      <input matInput type="text" name="intitule" [(ngModel)]="intitule" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Volume Horaire Cours Intervention:</mat-label>
      <input matInput type="number" name="vhCoursInterv" [(ngModel)]="vhCoursInterv" min="0" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Volume Horaire TD Intervention:</mat-label>
      <input matInput type="number" name="vhTDInterv" [(ngModel)]="vhTDInterv" min="0" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Volume Horaire TP Intervention:</mat-label>
      <input matInput type="number" name="vhTPInterv" [(ngModel)]="vhTPInterv" min="0" required>
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Evaluation Intervention:</mat-label>
      <input matInput type="number" name="evaluationInterv" [(ngModel)]="evaluationInterv" min="0" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="button" (click)="createIntervention()" [disabled]="">Create Intervention</button>
  </form>
</div>
